.movies {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.movies h2 {
    font-size: 1.75rem;
    line-height: 34px;
    font-weight: 700;
}

.movies div {
    list-style: none;
    height: 640px;
    width: 300px;
    overflow: auto;
} 
